.card {
  flex: 1;
  min-width: 230px;
  max-width: 230px;
  height: 460px;
  background: #fff;
  padding: 16px;
  font-family: arial;
  margin: 1px;
}
.card > h3 {
  margin-top: 20px;
}
.card > small, .card > p, .card > img {
  margin-top: 10px;
  color: #808284;
}

.card > h2 {
  margin-top: 50px;
}

.cardImageWrapper {
  height: auto;
  width: 130px;
  margin: auto;
  overflow: hidden;
}
.cardImage {
  width: 100%;
  height: auto;
}