body {
  background: #EFEFEF;  
}

.navbar {
  background: #fece02;
  width: 100vw;
  height: 68px;
}
.nav-wrapper {
  background: #fece02;
  max-width: 1358px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 68px;
  width: auto;
}

.logo > img {
  height: 100%;
  width: auto;
}

.nav-white {
  height: 68px;
  background: #ffffff;
  border-radius: 1px solid #efefef;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.navList {
  background: #ffffff;
}

li {
  padding: 19px;
  border-bottom: 1px solid transparent;
}

li {
  cursor: pointer;
}

li:hover {
  border-color: #000;
}

.cardIconWrapper {
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin-right: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.cardIcon {
  width: 25px;
  height: 25px;
  color: #000;
  fill: #000;
  display: inline-block;
}
.cartTotal {
  position: absolute;
  top: 6px;
  right: 12px;
  width: 14px;
  height: 14px;
  background-color: #24282b;
  border-radius: 50%;
  color: #fff;
  font-size: 0.7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  padding: 4px;
}