.checkoutContent {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.checkoutShipping {
  margin: 0 10px;
  background: #fff;
  width: 450px;
  height: 300px;
  padding: 20px;
}

.amountTotalCart,
.amountTotalShiping,
.amountTotalGlobal {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.amountTotalGlobal {
  border-top: solid 1px rgba(112,112,112,.34);
  margin-top: 15px;
  font-weight: bold;
}